.git
.github
.idea
.vscode
.env
.venv
backend/.venv
backend/.pytest_cache
backend/**/__pycache__
backend/**/*.pyc
build
data
dist
docs/assets/*.png
frontend/dist
frontend/node_modules
node_modules
src-tauri
